<sitecore>
	<settings>
		<setting name="SmtpServer" value="smtp.gmail.com" />
		<setting name="SmtpPort" value="587" />
		<setting name="SmtpUsername" value="manhmailer3003@gmail.com" />
		<setting name="SmtpPassword" value="ilyv qkgh bahh ehdn" />
		<setting name="EnableSsl" value="true" />
		<setting name="EmailSender" value="manhmailer3003@gmail.com" />
	</settings>
</sitecore>
