@model IEnumerable<MySite.Feature.PageContent.Models.IInformationItem>

@if (Model == null)
{
    <div class="alert alert-warning" role="alert">
        No information to display.
    </div>
    return;
}

@{ 
    var i = 0;
}

<section class="info_section layout_padding2">
    <div class="container">
        <div class="info_items">
            @foreach (var information in Model)
            {
                var boxClass = string.Format("box-{0}", (i % 3) + 1); // Luân phiên box-1, box-2, box-3
                var ctaUrl = information.CtaUrl;
                var ctaUrlText = string.Empty;

                if (information.CtaUrl != null)
                {
                    ctaUrlText = information.CtaUrl.Url;
                }

                <a href="@ctaUrlText">
                    <div class="item">
                        <div class="img-box @boxClass" style="@(string.IsNullOrEmpty(information.Image.Src) ? "" : string.Format("background-image: url('{0}');", information.Image.Src))">
                            <img src="" alt="">
                        </div>
                        <div class="detail-box">
                            <p>@information.Content</p>
                        </div>
                    </div>
                </a>

                i++;
            }
        </div>
    </div>
</section>
